@import 'nib'
/* FUNCTIONS */
clearfix()
  zoom 1
  &:before,
  &:after
    content ""
    display table
  &:after
    clear both
/* VARIABLES */
tdur        = 300ms
transition  = all tdur
radius      = 6px
html
  height 100%
body
  height 100%
  font-family "Open Sans"
  font-weight 300
  color #ffffff
  -webkit-font-smoothing subpixel-antialiased !important
  backface-visibility hidden
  background-size cover
h1,h2,ul
  margin 0
  padding 0
/* =============================================================================
Global elements
========================================================================== */
.inline-block
  display inline-block
.none
  display none !important
.dtable
  display table
.dtcell
  display table-cell
  vertical-align middle
.invisible
  visibility hidden
  opacity 0 !important
.hidden
  display none !important
  visibility hidden !important
.visible
  visibility visible !important
  opacity 0.9
.clear
  clear both
  height 0
  font-size 0
  line-height 0
  overflow hidden
  display block
.clearfix
  zoom 1
  &:before,
  &:after
    content ""
    display table
  &:after
    clear both

.fleft
  float left !important
.fright
  float right !important

.vat
  vertical-align top !important
.vam
  vertical-align middle !important
.vab
  vertical-align bottom !important

.tac
  text-align center !important
.tar
  text-align right !important

.not_select
  user-select none
/*=========================================
All elements
==========================================*/
.wrapper
  position relative
  clearfix()
  height 100%
  background url(../img/slide1.jpg) no-repeat center fixed
  background-size cover
  &.no-login
    background #c0c0c0
.min_width
  position relative
  max-width 1024px
  min-width 1024px
  margin 0 auto
h1
  text-align center
  font-size 40px
h2
  padding-top 10px
form
  display inline-block
  margin-top 10px
input
  padding 10px
ul
  li
    list-style none
.tracker
  margin-top 10px
  input
    font-size 22px
    opacity 0.6
    padding 10px
    font-family "Open Sans"
    font-weight 300
    transition transition
    border 0
    border-left 1px solid #9c9c9c
    &:focus,
    &:hover
      outline none
      opacity 0.8
.tracker-holder
  position relative
  margin-top 80px
  text-align center
  transition transition
.caption
  float left
  width 600px
.time
  float left
  width 105px
.date
  cursor pointer
  line-height 30px
  font-size 15px !important
  float left
  width 80px
.controls
  position relative
  float left
  width 175px
  .button
    width 100%
    position absolute
    top 0
    left 0
    transition transition
.timer
  padding 0
  height 0
  transition transition
  margin-left 60px
  position relative
  display inline-block
  overflow hidden
.item
  float left
  background url(../img/countdown-tic.png) no-repeat scroll right center
  margin-right 30px
  padding-right 30px
  &:last-child
    background none
.number
  font-size 60px
.word
  font-size 18px
  margin-left 5px
.tasks-list-holder
  margin-bottom 60px
.tasks-list
  margin 10px 0
  font-size 0
  li
    position relative
    transition transition
    background rgba(255,255,255,0.1)
    &:hover
      background rgba(255,255,255,0.4)
    &:last-child
      .resume, input
        border-bottom 0
  input
    font-family "Open Sans"
    font-weight 300
    color #ffffff
    background none
    border 0
    text-align left
    font-size 16px
    vertical-align bottom
    float none
    border-bottom 1px solid #c0c0c0
    line-height 40px
    display inline-block
    padding 0
    &:focus
      outline none
  .resume
    line-height 40px
    display inline-block
    background none
    text-align center
    box-sizing border-box
    border-bottom 1px solid #c0c0c0
    font-size 20px
    &:hover
      background #c0c0c0
  .caption
    width 600px
    overflow hidden
.button
  cursor pointer
  border 0
  transition transition
  opacity 0.9
  font-size 22px
  line-height 50px
  text-align center
  background #6ea320
  &:hover
    opacity 1
.resume
  width 160px
.save
  position absolute
  top 0
  left 0
  width 100%
  background #8b8b8b
  visibility hidden
.remove
  float right
  font-size 16px
  line-height 20px
  background #cf0000
  padding 10px
  margin-right 29px
.stop
  opacity 0
  visibility hidden
  background #cf0000
.active-timer
  .timer
    height 80px
    padding 20px 0
  .start
    opacity 0
    visibility hidden
  .stop
    opacity 0.9
    visibility visible
  .tracker
    .date
      border 0
      width 0
      padding 0
    .time
      border 0
      width 0
      padding 0
    .caption
      width 825px
.timer
  display inline-block
.start-stop
  transition transition
  position relative
.manual
  cursor pointer
  text-decoration underline
  font-size 14px
  position absolute
  top 15px
  right 0
.remove-holder
  position absolute
  top 0
  left 0
  height 100%
  z-index 1
  width 100%
  visibility hidden
  background rgba(255,0,0,0)
  .line
    position absolute
    left 20px
    top 20px
    width 95%
    height 1px
    border-top 1px solid #5f5f5f
.delete-event
  position absolute
  right -70px
  cursor pointer
  padding 10px 15px
  font-size 14px
  &:hover
    + .remove-holder
        background rgba(255,0,0,.4)
        visibility visible
.hovered
  transform scale(1.05,1.1)
.blured
  transform scale(0.98)
.menu-open-btn
  z-index 3
  cursor pointer
  top 30px
  padding 10px
  font-size 12px
  text-transform uppercase
  right 20px
  transition transition
  position absolute
  border 1px solid #ffffff
  &:hover
    background #fff
    color #000
.tracker-waiting
  width 100%
  height 100%
  z-index 1
  background rgba(0,0,0,.7)
  position absolute
  top 0
  transition transition
  right 0
  visibility hidden
  opacity 0
.active-menu
  overflow hidden
  width 100%
  height 100%
  top 0
  left 0
  .menu
    overflow visible
    opacity 1
    width 300px
  .tracker-waiting
    visibility visible
    opacity 1
  .menu-open-btn
    border-right 1px solid rgba(255,255,255,.6)
    right 300px
.menu
  transition transition
  position absolute
  top 0
  right 0
  z-index 2
  overflow hidden
  width 0
  opacity 0
  border-left 2px solid #5f5f5f
  height 100%
  background rgba(255,255,255,.6);
  h2
    font-size 1.5em
    transition transition
    padding-top 20px
    text-align center
  ul
    margin-top 60px
  li
    font-size 25px
    transition transition
    border-top 1px solid #5f5f5f
    text-align center
    list-style none
    line-height 60px
    cursor pointer
    &.active
      cursor default
      background #5f5f5f
    &:hover
      background #5f5f5f
    &:last-child
      border-bottom 1px solid #5f5f5f
#datecontainer
  margin 50px auto 0
  width 280px
  input
    width 216px
    background #f1f1f1
    -webkit-box-shadow inset 0px 1px 3px #555, 0px 1px 0px 0px #777
    -moz-box-shadow inset 0px 1px 3px #555, 0px 1px 0px 0px #777
    box-shadow inset 0px 1px 3px #555, 0px 1px 0px 0px #777
    -webkit-border-radius 3px
    -moz-border-radius 3px
    border-radius 3px
    color #777
    padding 8px 10px
    border 1px solid #111
    float left
    display table
    &:focus
      outline 0
  .ui-datepicker-trigger
    float left
    display table
    cursor pointer
    margin 3px 5px

#ui-datepicker-div
  width 216px
  height auto
  margin 5px auto 0
  margin-left -50px
  font 9pt Arial, sans-serif
  -webkit-box-shadow 0px 0px 10px 0px rgba(0, 0, 0, .5)
  -moz-box-shadow 0px 0px 10px 0px rgba(0, 0, 0, .5)
  box-shadow 0px 0px 10px 0px rgba(0, 0, 0, .5)
  a
    text-decoration none

.ui-datepicker-header
  background url('../img/dark_leather.png') repeat 0 0 #000
  color #e0e0e0
  font-weight bold
  -webkit-box-shadow inset 0px 1px 1px 0px rgba(250, 250, 250, 2)
  -moz-box-shadow inset 0px 1px 1px 0px rgba(250, 250, 250, .2)
  box-shadow inset 0px 1px 1px 0px rgba(250, 250, 250, .2)
  text-shadow 1px -1px 0px #000
  filter dropshadow(color=#000, offx=1, offy=-1)
  line-height 30px
  border-width 1px 0 0 0
  border-style solid
  border-color #111

.ui-datepicker-title
  text-align center

.ui-datepicker-prev
  float left
  background-position center -30px

.ui-datepicker-next
  float right

.ui-datepicker-prev, .ui-datepicker-next
  display inline-block
  width 30px
  height 30px
  text-align center
  cursor pointer
  background-image url('../img/arrow.png')
  background-repeat no-repeat
  overflow hidden

.ui-datepicker
  table
    width 100%
  thead
    background-color #f7f7f7
    background-image linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%)
    border-bottom 1px solid #bbb
th
  text-transform uppercase
  font-size 6pt
  padding 5px 0
  color #666666
  text-shadow 1px 0px 0px #fff
  filter dropshadow(color=#fff, offx=1, offy=0)
tbody
  td
    padding 0
    border-right 1px solid #bbb
    &:last-child
      border-right 0px
    a
      background red
  tr
    border-bottom 1px solid #bbb
    &:last-child
      border-bottom 0px

.ui-datepicker td span, .ui-datepicker td a
  display inline-block
  font-weight bold
  text-align center
  width 30px
  height 30px
  line-height 30px
  color #666666
  text-shadow 1px 1px 0px #fff
  filter dropshadow(color=#fff, offx=1, offy=1)

.ui-datepicker-calendar
  .ui-state-default
    background #ededed
    background linear-gradient(top,  #ededed 0%,#dedede 100%)
    box-shadow inset 1px 1px 0px 0px rgba(250, 250, 250, .5)
    &:hover
      outline 1px solid #000000
.ui-state-active
  background #6eafbf
  box-shadow inset 0px 0px 10px 0px rgba(0, 0, 0, .1)
  color #e0e0e0
  text-shadow 0px 1px 0px #4d7a85
  filter dropshadow(color=#4d7a85, offx=0, offy=1)
  border 1px solid #55838f
  position relative
  margin -1px
td
  &:first-child
    .ui-state-active
      width 29px
      margin-left 0
  &:last-child
    .ui-state-active
      width 29px
      margin-right 0
tr
  &:last-child
    .ui-state-active
      height 29px
      margin-bottom 0
.ui-datepicker-unselectable
  .ui-state-default
    background #f4f4f4
    color #b4b3b3

