/* FUNCTIONS */
/* VARIABLES */
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Open Sans";
  font-weight: 300;
  color: #fff;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
/* =============================================================================
Global elements
========================================================================== */
.inline-block {
  display: inline-block;
}
.none {
  display: none !important;
}
.dtable {
  display: table;
}
.dtcell {
  display: table-cell;
  vertical-align: middle;
}
.invisible {
  visibility: hidden;
  opacity: 0 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.visible {
  visibility: visible !important;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  display: block;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.fleft {
  float: left !important;
}
.fright {
  float: right !important;
}
.vat {
  vertical-align: top !important;
}
.vam {
  vertical-align: middle !important;
}
.vab {
  vertical-align: bottom !important;
}
.tac {
  text-align: center !important;
}
.tar {
  text-align: right !important;
}
.not_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*=========================================
All elements
==========================================*/
.wrapper {
  position: relative;
  zoom: 1;
  height: 100%;
  background: url("../img/slide1.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
.wrapper.no-login {
  background: #c0c0c0;
}
.min_width {
  position: relative;
  max-width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 40px;
}
h2 {
  padding-top: 10px;
}
form {
  display: inline-block;
  margin-top: 10px;
}
input {
  padding: 10px;
}
ul li {
  list-style: none;
}
.tracker {
  margin-top: 10px;
}
.tracker input {
  font-size: 22px;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  padding: 10px;
  font-family: "Open Sans";
  font-weight: 300;
  transition: all 300ms;
  border: 0;
  border-left: 1px solid #9c9c9c;
}
.tracker input:focus,
.tracker input:hover {
  outline: none;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.tracker-holder {
  position: relative;
  margin-top: 80px;
  text-align: center;
  transition: all 300ms;
}
.caption {
  float: left;
  width: 600px;
}
.time {
  float: left;
  width: 105px;
}
.date {
  cursor: pointer;
  line-height: 30px;
  font-size: 15px !important;
  float: left;
  width: 80px;
}
.controls {
  position: relative;
  float: left;
  width: 175px;
}
.controls .button {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms;
}
.timer {
  padding: 0;
  height: 0;
  transition: all 300ms;
  margin-left: 60px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.item {
  float: left;
  background: url("../img/countdown-tic.png") no-repeat scroll right center;
  margin-right: 30px;
  padding-right: 30px;
}
.item:last-child {
  background: none;
}
.number {
  font-size: 60px;
}
.word {
  font-size: 18px;
  margin-left: 5px;
}
.tasks-list-holder {
  margin-bottom: 60px;
}
.tasks-list {
  margin: 10px 0;
  font-size: 0;
}
.tasks-list li {
  position: relative;
  transition: all 300ms;
  background: rgba(255,255,255,0.1);
}
.tasks-list li:hover {
  background: rgba(255,255,255,0.4);
}
.tasks-list li:last-child .resume,
.tasks-list li:last-child input {
  border-bottom: 0;
}
.tasks-list input {
  font-family: "Open Sans";
  font-weight: 300;
  color: #fff;
  background: none;
  border: 0;
  text-align: left;
  font-size: 16px;
  vertical-align: bottom;
  float: none;
  border-bottom: 1px solid #c0c0c0;
  line-height: 40px;
  display: inline-block;
  padding: 0;
}
.tasks-list input:focus {
  outline: none;
}
.tasks-list .resume {
  line-height: 40px;
  display: inline-block;
  background: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #c0c0c0;
  font-size: 20px;
}
.tasks-list .resume:hover {
  background: #c0c0c0;
}
.tasks-list .caption {
  width: 600px;
  overflow: hidden;
}
.button {
  cursor: pointer;
  border: 0;
  transition: all 300ms;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  background: #6ea320;
}
.button:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.resume {
  width: 160px;
}
.save {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #8b8b8b;
  visibility: hidden;
}
.remove {
  float: right;
  font-size: 16px;
  line-height: 20px;
  background: #cf0000;
  padding: 10px;
  margin-right: 29px;
}
.stop {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  background: #cf0000;
}
.active-timer .timer {
  height: 80px;
  padding: 20px 0;
}
.active-timer .start {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.active-timer .stop {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  visibility: visible;
}
.active-timer .tracker .date {
  border: 0;
  width: 0;
  padding: 0;
}
.active-timer .tracker .time {
  border: 0;
  width: 0;
  padding: 0;
}
.active-timer .tracker .caption {
  width: 825px;
}
.timer {
  display: inline-block;
}
.start-stop {
  transition: all 300ms;
  position: relative;
}
.manual {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  position: absolute;
  top: 15px;
  right: 0;
}
.remove-holder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  width: 100%;
  visibility: hidden;
  background: rgba(255,0,0,0);
}
.remove-holder .line {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 95%;
  height: 1px;
  border-top: 1px solid #5f5f5f;
}
.delete-event {
  position: absolute;
  right: -70px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 14px;
}
.delete-event:hover + .remove-holder {
  background: rgba(255,0,0,0.4);
  visibility: visible;
}
.hovered {
  -webkit-transform: scale(1.05, 1.1);
  -moz-transform: scale(1.05, 1.1);
  -o-transform: scale(1.05, 1.1);
  -ms-transform: scale(1.05, 1.1);
  transform: scale(1.05, 1.1);
}
.blured {
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -o-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}
.menu-open-btn {
  z-index: 3;
  cursor: pointer;
  top: 30px;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  right: 20px;
  transition: all 300ms;
  position: absolute;
  border: 1px solid #fff;
}
.menu-open-btn:hover {
  background: #fff;
  color: #000;
}
.tracker-waiting {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  transition: all 300ms;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.active-menu {
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.active-menu .menu {
  overflow: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width: 300px;
}
.active-menu .tracker-waiting {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.active-menu .menu-open-btn {
  border-right: 1px solid rgba(255,255,255,0.6);
  right: 300px;
}
.menu {
  transition: all 300ms;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  width: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  border-left: 2px solid #5f5f5f;
  height: 100%;
  background: rgba(255,255,255,0.6);
}
.menu h2 {
  font-size: 1.5em;
  transition: all 300ms;
  padding-top: 20px;
  text-align: center;
}
.menu ul {
  margin-top: 60px;
}
.menu li {
  font-size: 25px;
  transition: all 300ms;
  border-top: 1px solid #5f5f5f;
  text-align: center;
  list-style: none;
  line-height: 60px;
  cursor: pointer;
}
.menu li.active {
  cursor: default;
  background: #5f5f5f;
}
.menu li:hover {
  background: #5f5f5f;
}
.menu li:last-child {
  border-bottom: 1px solid #5f5f5f;
}
#datecontainer {
  margin: 50px auto 0;
  width: 280px;
}
#datecontainer input {
  width: 216px;
  background: #f1f1f1;
  -webkit-box-shadow: inset 0px 1px 3px #555, 0px 1px 0px 0px #777;
  -moz-box-shadow: inset 0px 1px 3px #555, 0px 1px 0px 0px #777;
  -webkit-box-shadow: inset 0px 1px 3px #555, 0px 1px 0px 0px #777;
  box-shadow: inset 0px 1px 3px #555, 0px 1px 0px 0px #777;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #777;
  padding: 8px 10px;
  border: 1px solid #111;
  float: left;
  display: table;
}
#datecontainer input:focus {
  outline: 0;
}
#datecontainer .ui-datepicker-trigger {
  float: left;
  display: table;
  cursor: pointer;
  margin: 3px 5px;
}
#ui-datepicker-div {
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  margin-left: -50px;
  font: 9pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
#ui-datepicker-div a {
  text-decoration: none;
}
.ui-datepicker-header {
  background: url("../img/dark_leather.png") repeat 0 0 #000;
  color: #e0e0e0;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 1px 1px 0px #fafafa;
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(250,250,250,0.2);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250,250,250,0.2);
  box-shadow: inset 0px 1px 1px 0px rgba(250,250,250,0.2);
  text-shadow: 1px -1px 0px #000;
  filter: dropshadow(#000, 1, -1);
  line-height: 30px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #111;
}
.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}
.ui-datepicker-next {
  float: right;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  overflow: hidden;
}
.ui-datepicker table {
  width: 100%;
}
.ui-datepicker thead {
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -ms-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: linear-gradient(to bottom, #f7f7f7 0%, #f1f1f1 100%);
  border-bottom: 1px solid #bbb;
}
th {
  text-transform: uppercase;
  font-size: 6pt;
  padding: 5px 0;
  color: #666;
  text-shadow: 1px 0px 0px #fff;
  filter: dropshadow(#fff, 1, 0);
}
tbody td {
  padding: 0;
  border-right: 1px solid #bbb;
}
tbody td:last-child {
  border-right: 0px;
}
tbody td a {
  background: #f00;
}
tbody tr {
  border-bottom: 1px solid #bbb;
}
tbody tr:last-child {
  border-bottom: 0px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  filter: dropshadow(#fff, 1, 1);
}
.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -o-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -ms-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250,250,250,0.5);
  box-shadow: inset 1px 1px 0px 0px rgba(250,250,250,0.5);
}
.ui-datepicker-calendar .ui-state-default:hover {
  outline: 1px solid #000;
}
.ui-state-active {
  background: #6eafbf;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  filter: dropshadow(#4d7a85, 0, 1);
  border: 1px solid #55838f;
  position: relative;
  margin: -1px;
}
td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0;
}
td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0;
}
tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0;
}
.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}
