<section class="login-section">
    <input type="text" placeholder="" ng-model="user"/>
    <input type="text" ng-model="pass"/>
    <div class="submit" ng-click="onLogin()">Submit</div>
    <div class="error-message" ng-if="showErrorMessage">Login incorrect</div>
</section>