
<div class="min_width">
    <div class="tracker-holder" ng-class="activeTrackerClass">
        <h1>Time Tracker Application</h1>
        <span class="manual" ng-click="manualTask()">[Manually add event]</span>
        <div class="tracker clearfix">
            <input class="caption" type="text" ng-model="caption" placeholder="Enter caption of work"/>
            <input class="time" ng-readonly="readOnly" type="text"
                   ng-model="nowTime" ng-change="timeParser(nowTime,':',true)" placeholder="hh:mm:ss"/>
            <input type="text" ng-dblclick="clearDate()" class="date" ng-readonly="dateReadOnly" ng-model="date" datepicker placeholder="Select date"/>
            <div class="controls">
                <div class="start-stop" ng-class="manualTaskTrackerClass">
                    <div class="button start" id="start" ng-click="startTimer(date)">Start</div>
                    <div class="button stop"  ng-click="stopTimer()">Stop</div>
                </div>
                <div class="button save" ng-click="saveTask()" ng-class="manualTaskSaveClass">Save</div>
            </div>
        </div>
        <div class="timer">
            <div class="item">
                <span class="number">{{progressTime.hh}}</span>
                <span class="word">Hours</span>
            </div>
            <div class="item">
                <span class="number">{{progressTime.mm}}</span>
                <span class="word">Minutes</span>
            </div>
            <div class="item">
                <span class="number">{{progressTime.ss}}</span>
                <span class="word">Seconds</span>
            </div>
        </div>
        <div class="tasks-list-holder">
            <h2>Completed Tasks</h2>
            <ul ng-mouseleave="listRemoveHoverAction()" class="tasks-list">
                <li ng-mouseenter="listElemsHoverAction($index)" ng-repeat="event in events" ng-init="completedEventCaption=event.caption;
                                                                                completedEventTime=event.hh + 'h ' + event.mm + 'm ' + event.ss + 's';
                                                                                completedEventDate=event.date + '/' + event.month + '/' + event.year">
                    <div class="delete-event" ng-click="deleteEvent($index)">Delete</div>
                    <div class="remove-holder"><div class="line"></div></div>
                    <input type="text" ng-change="updateTask(completedEventCaption,completedEventTime,completedEventDate,$index)" ng-model="completedEventCaption" class="caption" />
                    <input type="text" ng-change="updateTask(completedEventCaption,completedEventTime,completedEventDate,$index)" ng-model="completedEventTime" class="time" />
                    <input type="text" ng-change="updateTask(completedEventCaption,completedEventTime,completedEventDate,$index)" ng-model="completedEventDate" datepicker ng-readonly="true" ng-click="bufferDate(completedEventDate)" class="time" />
                    <div class="button resume" ng-click="resumeTask($index)">Resume</div>
                </li>
            </ul>
            <div class="button remove" ng-click="removeEvents()">RemoveAll</div>
        </div>
    </div>
</div>