<!DOCTYPE html>
<html ng-app="timeInterval" ng-controller="ApplicationController">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{config.appTitle}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/normalize.css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/main.css">
    <script src="js/libs/jquery-1.9.1.js"></script>
    <script src="js/libs/jquery-ui.min.js"></script>
    <script src="js/libs/angular/angular.min.js"></script>
    <script src="js/libs/angular-local-storage/angular-local-storage.min.js"></script>
    <script src="js/libs/angular-ui-router/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives/datePicker.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/controllers/ApplicationController.js"></script>
    <script src="js/controllers/TrackerController.js"></script>
    <script src="js/controllers/StateController.js"></script>
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/script.js"></script>
</head>
<body ng-class="activeMenu">
<div class="wrapper" ng-class="{'no-login' : !isLogin}">
    <div class="menu-open-btn" ng-click="menuOpen()">Detail usage</div>
    <div class="menu">
        <h2>App functions</h2>
        <ul ng-if="isLogin">
            <li ng-class="{'active' : activeState == 'home'}" ng-click="activeState = 'home'; menuOpen()" ui-sref="/">Home</li>
            <li ng-class="{'active' : activeState == 'tracker'}" ng-click="activeState = 'tracker'; menuOpen()"  ui-sref="tracker">Tracker</li>
            <li ng-class="{'active' : activeState == 'test'}" ng-click="activeState = 'test'; menuOpen()" ui-sref="state1">Test state</li>
            <li ng-class="{'active' : activeState == 'calendar'}" ng-click="activeState = 'calendar'; menuOpen()" ui-sref="calendar">Calendar</li>
            <li ng-class="{'active' : activeState == 'login'}" ng-click="menuOpen(); onLogout();">Logout</li>
        </ul>
        <ul ng-if="!isLogin">
            <li ng-class="{'active' : true}" ng-click="menuOpen()">Login</li>
        </ul>
    </div>
    <div class="tracker-waiting"></div>
    <div ui-view></div>
</div>
</body>
</html>
